body {
    margin: 0;
    background-color: white;
    color: #000;
    font-family: Monospace;
    font-size: 13px;
    line-height: 24px;
    overscroll-behavior: none;
}

#help {
    color: black; 
    position: absolute; 
    bottom: 10px; 
    right: 10px;
}

#buttons {
    /* Define an ID. Unlike class, ID can only be applied to one element. */
    position: absolute;
    top: 10px; /* position of all the buttons on the page */
    right: 10px;
}
.button {
    /* Defining a class. Type of property tag that can be used multiple times. */
    display: block;
    cursor: pointer;

    font-size: 15px;
    text-align: center;
    line-height: 40px; /* vertical alignment */
    padding: 0px 20px;

    /* fix size of button */
    width: 100px; 
    height: 40px;
    margin: 2px; /* space between buttons */
}
.button.pressed{
    border: 2px solid black;
}

#checkboxes {
    /* Define an ID. Unlike class, ID can only be applied to one element. */
    position: absolute;
    top: 300px; /* position of all the buttons on the page */
    right: 50px;
}
/* The container */
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
  
/* Hide the browser's default checkbox */
.container input {
position: absolute;
opacity: 0;
cursor: pointer;
height: 0;
width: 0;
}
  
/* Create a custom checkbox */
.checkmark {
position: absolute;
top: 0;
left: 0;
height: 25px;
width: 25px;
background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
background-color: burlywood;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
content: "";
position: absolute;
display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
left: 9px;
top: 5px;
width: 5px;
height: 10px;
border: solid white;
border-width: 0 3px 3px 0;
-webkit-transform: rotate(45deg);
-ms-transform: rotate(45deg);
transform: rotate(45deg);
}
